<%- include('header'); -%>

<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg">
            <h1 style="color:black"><a href="/" style="text-decoration:none">Immatriculation</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard"><%= currentUser.username %> </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/favourites">Favoris</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/myreceipes">Fichier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/schedule">Programme</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Quitter</a>
                    </li>


                </ul>
            </div>
        </nav>
        <div class="infos-user" style="margin-top:-50px;">
            <div class="img-profile" style="text-align:center">
                <a class="item" href="/dashboard">
                    <h4 style="text-align:center;color:black;text-decoration:none"></h4>
                </a>
            </div>
        </div>


        <div style="width:400px;">
            <% if(error && error.length>0){ %>
            <div class="warning-message">
                <div class="header">
                    <%= error %>
                </div>
            </div>
            <% } %>
            <% if(success && success.length > 0) { %>
            <div class="success-message">
                <div class="header">
                    <%= success%>
                </div>
            </div>
            <% } %>
        </div>


        <div class="add-ingredient" style="margin-top:30px; text-align:center">
            <h2>
                <img src="<%= receipe.image%>" height="200px" width="200px">
                <div class="content">
                    <%= receipe.name%>
                </div>
            </h2>
            <h3 style="font-family:itallic">Ajouter fichier : </h3>
            <form action="/dashboard/myreceipes/<%= receipe._id%>" method="POST">
                <h4>Information Personnelle</h4>
                <div class="field">
                    <label>Nom:</label><br>
                    <input type="text" placeholder="name" name="name" required autocomplete="off">
                </div>
                <div class="field">
                    <label>Meilleur dossier:</label><br>
                    <input type="text" placeholder="best dish to make with" name="dish" required autocomplete="off">
                </div>
                <div class="field">
                    <label>Quantité</label><br>
                    <input type="text" placeholder="quantity" name="quantity" required autocomplete="off">
                </div>


                <div class="field">
                    <button type="submit" class="btn btn-success" style="margin-top:15px;">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('footer'); -%>